body{
    background-color: #B2C8BA;
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-align: center;
}
header{
    height: 70px;
    background-color:#86A789;
}
.draggableContainer{
    border: 1px solid #86A789;
    margin-bottom: 3px;
    display: flex;
    cursor: grab;
}
.box{
    background-color:#D2E3C8;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 120px;
    margin-right: 5px;
}
.droppableContainer{
    display: flex;
    margin-top: 100px;
}
.droppable{
    background-color: #EBF3E8;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 120px;
    margin-right: 5px;
}
.draggableFormat{
    font-weight: bold;
    color: gold;
    border: 5px dotted salmon;
}
.image-container {
    display: flex;
    margin-bottom: 3px;
}

.drg {
    width: 100px;
    height: 100px;
    display: flex;
    padding-right: 13px;
    padding-left: 5px;
    padding-top: 10px;
}

.drp {
    width: 100px;
    height: 100px;
    display: flex;
    padding-right: 20px;
    padding-left: 5px;
    padding-top: 30px;
}
.names{
    display: flex; 
}
.one{
    padding-left: 20px;
    padding-right: 15px;
}
.two{
    padding-left: 45px;
    padding-right: 20px;
}
.three{
    padding-left: 50px;
    padding-right: 20px;
}
.four{
    padding-left: 62px;
    padding-right: 30px;
}
.five{
    padding-left: 20px;
    padding-right: 15px;
}
.six{
    padding-left: 25px;
    padding-right: 20px;
}
.seven{
    padding-left: 45px;
    padding-right: 30px;
}
.eight{
    padding-left: 46px;
    padding-right: 20px;
}
.nine{
    padding-left: 35px;
    padding-right: 35px;
}
.ten{
    padding-left: 16px;
}

